################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.csproj.user
*.lock
*.ide
*.ide-shm
*.ide-wal
*.suo
*.exe
*.config
*.pdb
*.dll
/obj/Debug
